body{
    background:linear-gradient(to left, rgb(171, 191, 208), rgb(166, 197, 211));
    border: 2px rgb(0, 0, 0) solid;
    margin-left: 170px;
    margin-right: 30px;
    border-radius: 23px; 
}


html{
    background-color: rgb(93, 100, 106);
}

p{
    color: rgb(0, 0, 0);
}
header{
    text-align: center;
}
h1{
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
button{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 4px;
    padding: 4px;
}
.texto{
    color: white;
    font-size: 1.2rem;

}
select{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 4px;
    padding: 4px;
}

.jogo_link{
    padding: 4px;
}

.areaJogo{
    display: flex;
    justify-content: center;
}

a{  
    background-color: black;
    transition: 0.5s;
    filter: opacity(100%);
    font-family: Impact, Haettenschweiler, 'Arial', sans-serif;
    text-decoration: none;
    border-radius: 20px;
    border: rgb(255, 255, 255) solid 3px;
    padding: 4px;
    color: rgb(255, 255, 255);
    
}

a:hover{
    font-family:Impact, Haettenschweiler, 'Arial', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px
    
}

.cabecalho{
    background-color: darkgray;
    padding: 15px; /* */
    position: fixed;
    left: -39px; /* */
    top: 8px; /* */
    border: black 3px solid;
    border-radius: 20px; 
}

.cabecalho a{
    color: white;
    text-decoration: none;
}